* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}

body {
    background: white;
    padding: 40px;
    width: 800px;
}

@media screen and (max-width: 400px){
    body{
        background: white;
        padding: 40px;
        width: 800px;
        min-height:1500px;
  }
}

header > h1 {
    text-align: left;
   /* font-family: sans-serif; */
}

button{
    width: 250px;
    height: 35px;
}

.Row
    {
       display:table-row;
       width:auto;
    }

.Column
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:150px;
    }

    .spinner-border {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: text-bottom;
        border: 0.25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner-border .75s linear infinite;
        animation: spinner-border .75s linear infinite;
      }

      @keyframes spinner-border {
        to {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

      #loadingscreen{
        display: none;
        /* display: flex; */
     }
      
